@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100vh;
    padding-bottom: 30px;
    font-family: "Host Grotesk", sans-serif;
}


.spinning-border {
    background: linear-gradient(
      rgb(0, 204, 255),
      rgb(0, 64, 255),
      rgb(197, 9, 244),
      rgb(194, 11, 11)
    );
  
    position: absolute;
    z-index: -30;
    inset: 0;
    animation: spin 2.5s linear infinite;
    scale: 1.15
}

@keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }